[Unit]
Description=Terminal server for the Ghost in the GUI service
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/opt/termserver/termserver --command=lshell
User=ubuntu
Restart=always

[Install]
WantedBy=multi-user.target
